version: "3.8"

services:
  db:
    image: postgres:15-alpine
    container_name: subscription_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: homework
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: subscription_adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  postgres_data:
